body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color:#f0f0f0;

}
#traffic-light{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100px;
    height:300px;
    background-color:#333;
    border-radius:20px;
    padding:20px;

}
.light{
    width:60px;
    height:60px;
    background-color:#555;
    border-radius:50%;
    margin:10px 0;

}
.light.active{
    background-color:red;
}
.light.active:nth-child(2){
    background-color:yellow;

}
.light.active:nth-child(3){
    background-color:green;
}
